@import '../scss/custom/mixins';


.appWrapper {
	background-image: url('../assets/background.jpg');
	height: 100vh;
	@media (min-width: 576px) {
		padding-top: rem-calc(143);
	}
	@media (max-width: 575px) {
		padding-top: rem-calc(188);
	}
}