@import '../../scss/bootstrap/variables';
@import '../../scss/custom/mixins';

.header {
	margin-bottom: rem-calc(100);
	padding: rem-calc(20 0);
	@media (max-width: 767px) {
		padding-bottom: 0;
		margin-bottom: rem-calc(50);
	}
	&__nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: rem-calc(18);
		height: 100%;
		@media (max-width: 767px) {
			justify-content: flex-start;
    		overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	&__navItem {
		font-family: 'Medium';
		color: $primary;
		margin-right: rem-calc(20);
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: $primary;
		}
		@media (max-width: 767px) {
			padding: rem-calc(30);
			margin-right: 0;
		}
	}
}